.badge-wrapper{
	display:inline-block;
}
.badge-wrapper a{
	color: #fff;
	text-decoration: none;
}
.badge-wrapper a:hover{
	color: #fff;
	text-decoration: none;
}

a .badge{
	color: #fff;
	text-decoration: none;
}

a .badge:hover{
	color: #fff;
	text-decoration: none;
}

.badge {
	text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    font-family: Arial, sans-serif;
    border: 2px solid #333;
    background-color: #333;
    padding: 2px 8px 4px;
    margin: 3px 3px 0 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.badge:hover {
	color: #fff;
	text-decoration: none;
    background-color: #555;
    border-color: #555;
}

.badge.tag {
    background-color: #eee;
    color: #333;
}

.badge.tag:hover {
	text-decoration: none;
    background-color: #555;
    color: #fff;
}

.badge span {
    display: inline-block;
    width: 6px;
    height: 6px;
    vertical-align: middle;
    margin-right: 2px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.badge .bronze {
    background-color: #C99660;
}

.badge .silver {
    background-color: #C3C3C3;
}

.badge .gold {
    background-color: #FDCC02;
}
