<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="com.ibm.commons.Extension">
		<service
			class="frostillicus.framework.FrostillicusLibrary"
			type="com.ibm.xsp.Library"/>
	</extension>
	<extension point="com.ibm.commons.Extension">
		<service
			class="frostillicus.xsp.servlet.ServletFactory"
			type="com.ibm.xsp.adapter.servletFactory"/>
	</extension>
</plugin>
