<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="com.ibm.commons.Extension">
		<service
			type="com.ibm.xsp.Library"
			class="frostillicus.framework.FrostillicusLibrary" />
	</extension>
	
	<extension point="com.ibm.commons.Extension">
		<service
			type="com.ibm.xsp.adapter.servletFactory"
			class="frostillicus.xsp.servlet.ServletFactory" />
	</extension>
	
	<extension
		id="frostillicus.xsp.model.Servlet"
		name="fmodelservlet"
		point="org.eclipse.equinox.http.registry.servlets">
		<servlet
			alias="/fmodel"
			class="frostillicus.xsp.model.servlet.ModelServlet">
			
			<init-param
				name="applicationConfigLocation"
				value="/WEB-INF/fmodelapplication">
			</init-param>
			<init-param
				name="propertiesLocation"
				value="/WEB-INF/fmodelservlet.properties">
			</init-param>
			<init-param name="DisableHttpMethodCheck" value="true"/>
		</servlet>
	</extension>
</plugin>
