<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!-- The Xsp Library -->
	<extension point="com.ibm.commons.Extension">
		<service type="com.ibm.xsp.Library" class="frostillicus.xsp.darwino.FrostillicusDarwinoLibrary" />
	</extension>
	
	<!-- SqlContext listener -->
	<extension point="com.ibm.commons.Extension">
		<service type="com.ibm.xsp.core.events.ApplicationListener" class="frostillicus.xsp.darwino.SqlContextApplicationListener" />
	</extension>
</plugin>
